
.header-container{
	background:none;
	& .menu{
		background:none;
		
	}

	& .top-bar{
		background:none;
	}

}

.menu-item-has-children:hover > .sub-menu{
	display:block;

}

.header-title{
	font-size:4em;
	text-align:center;
	font-family: 'Poiret One', cursive;
	img{
		width:auto;
		max-height: 4em;
	}
}

.menu-item {
	position:relative;
}

.sub-menu{
	.menu-item{
		padding:.6em;
	}

	width:calc(100% + 2em);
	margin:0px;
	list-style-type:none;
	display:none;
	position: absolute;
	z-index:1000;
	&.horizontal{
		left:100%;
		top:0px;
	}
}