.error-404 {

	text-align:center;
	.title{
		font-size:10rem;
		font-weight: bolder;
	}
	.sub-title{
		font-size:1.5rem;
	}

	.error-message{
		text-align: center;
	}
	#searchForm ul{
	    width: 30%;
	    margin: 0 auto;
	    min-width: 300px;
	}
}