.archive-title{
    padding: .6em;
    font-size: 1.4rem;
}

.post{

	background:#ececec;

	margin-top:.7em;
	margin-bottom:1em;
	padding: 1em 1em; 


		.title{
			font-size: 3em;
			font-family: 'Poiret One', cursive;
		}

		.meta{
			border-right-style: solid;
			border-width:1px;

			text-align: center;
			font-size: .7em;
			line-height: 1;

			padding-top:.1em;
			padding-bottom:.2em;
			padding-left:.6em;
			margin-top: 1em;
			margin-right: 1em;
			padding-right: 1em;
			.day{
				margin: 0px;
				font-size: 5em;
			}
		}
		.author{
			font-size: .7em;
			margin-left: .7em;
			margin-top: 1em;
		}

		.row{
			margin:0;
		}

		.entry{
			padding-top:.4em;
			padding-bottom:.4em;
			padding-left:.7em;
		}

		.postmetadata{
			padding-left:1em;
		}

		border-bottom-style: solid;
		border-width:1px;
		margin-bottom: 1em;
		padding-bottom:1em;
    	border-color: #d0d0d0;
		box-shadow: 1px 1px #b5b5b5;

}